<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect Buttons</title>
    <link rel="stylesheet" href="../style/index.css">
 
   
</head>
<body>

    <div class="button-container">
        <button class="btn btn-student" onclick="redirectTo('student.html')">Student</button>
        <button class="btn btn-lecturer" onclick="redirectTo('lecturer.html')">Lecturer</button>
    </div>

    <script>
        function redirectTo(page) {
            window.location.href = page;
        }
    </script>

</body>
</html>